  <%= form_for(@task, ) do |f| %>
    <div class="form-line">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
     <div class="form-line">
      <%= f.label :details %>
      <%= f.text_field :details %>
     </div>
    <%= f.submit class: 'submit' %>
  <% end %>
